---
import Layout from "../layouts/Layout.astro";

import { processYears } from "../utils/functions.js";
// import Card from '../components/Card.astro';
interface GroupedYears {
  [key: string]: number[];
}
const groupedYears: GroupedYears = processYears() as GroupedYears;
---

<Layout title=" War of the Worlds: A Timeline of the World's Most Significant Conflicts">
  <main>
    <h1 class="text-2xl font-medium pb-4 mb-10 border-b">
      War of the Worlds: A Timeline of the World's Most Significant Conflicts
    </h1>
    <div class="space-y-4">
      {
        Object.keys(groupedYears)
          .sort((a, b) => Number(b.split("to")[0]) - Number(a.split("to")[0]))
          .map((century, index) => (
            <>
              <div class="border-b">
                <h2 class="text-xl font-bold">
                  {Math.abs(parseInt(century.split("to")[0]))} - {Math.abs(parseInt(century.split("to")[1]))}
                  {parseInt(century.split("to")[0]) < 0 ? " BC" : ""}
                </h2>
              </div>
              <ul class="flex gap-1 flex-wrap">
                {groupedYears[century].sort().map((year, index) => (
                  <li class="p-1">
                    <a class="text-blue-500" href={`/${year}`}>
                      {Math.sign(year) === -1 ? Math.abs(year) + " BC" : year}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          ))
      }
    </div>
  </main>
</Layout>
